html, body {
    overflow: hidden;
    margin: 0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    cursor: url("./resources/cursor.png"), auto;
    cursor: url("./resources/cursor.png"), pointer;
  }